name: Python CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.12'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        echo "GEMINI_API_KEY=${{ secrets.GEMINI_API_KEY }}" >> $GITHUB_ENV  # Set the secret as an environment variable

    - name: Run tests with pytest
      run: |
        pytest --html=reports/test_report.html

    - name: Upload HTML report as artifact
      uses: actions/upload-artifact@v4
      with:
        name: test-report
        path: reports/test_report.html

